<!DOCTYPE html>
<html>

<head>
    <title>Online Shopping Store</title>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width,initial-scal=1.0">
    <meta http-equip="X-UA-compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="../static/jquery.store.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="topnav">
            <a class="active" href="./index.html">  <img src="../static/images/logo/Unicorn Chef logo1.jpg" class="footer-logo"> </a>
           <h3 style="display: flex;justify-content: center ;color: chartreuse;font-family: 'Times New Roman', Times, serif;font-weight:900 bolder;font-style:italic;"</style> <br></br> UNICORN CHEF BAKERY </h3> 
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a href="/" style="color:chartreuse;font-size: large;font-style: italic;" class="nav-link"<li class="xxxlarge"><i class="fa fa-home"></i>Home</li></a>
                </li>
                <li class="nav-item">
                    <a style="color:chartreuse;font-size: large;font-style: italic;" class="nav-link" href="../cart/" class="nav-link" <li class="xxxlarge"><i class="fa fa-shopping-cart"></i>Cart</li></a>

                </li>


                <li class="nav-item">
                    <a style="color:chartreuse;font-size: large;font-style: italic;"  class="nav-link" href="../aboutus/">About Us</a>
                </li>

                 <li class="nav-item">
                    <a style="color:chartreuse;font-size: large;font-style: italic;" class="nav-link" href="../contact/">Contact</a>
                </li>
                <li class="nav-item">
                    <a style="color:chartreuse;font-size: large;font-style: italic;" class="nav-link" href="../login/">Login</a>
                </li>


            </ul>
        </div>
    </nav>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 style="font-family: sans-serif;font-weight: bold;">About Us</h2>
                    <div class="about-content">
                        “Our mission is to bake gourmet goodies that inspire joy, foster community, and enrich the life of every customer with warmth and sweetness.”.
                        <br><br>
                        Durban born-Keisha Ramdhani started Unicorn Chef Bakery as a home business during Covid-19 lockdown in 2020. Just after completing her chef training at Beverley Hills hotel in Umhlanga, the world was struck by COVID-19 and lockdown. Keisha was left unemployed. Out of necessity  and no job prospects when lockdown eased, she started baking professional quality, tasty baked goodies, and designer cakes to earn an income. Advertising on social media platforms brought in many orders. With her quality and tasty products and designer cakes she quickly gathered a huge following. The business started growing exponentially and the home became too small to fulfil all the orders that were coming in.
                        Keisha took the next bold step and rented a shop with adequate space at Cornubia Mall. Through her dedication and hard work, the busy continues to grow from strength to strength. She now employs a team of 6 to assist her. She has never forgotten her humble roots and continues to give back to her community through her social investments and drives. 
                        


                    </div>
                    <button type="button" class="btn btn-primary" style="background-color:chartreuse;">Leave a review>>

                    </button>

                </div>
                <div class="col-md-6 skills-bar">
                    <p>Delivery Rate</p>
                    <div class="progress">
                        <div class="progress-bar" style="width:85%; background-color:chartreuse">85%</div>
                    </div>

                    <p>Customer Growth</p>
                    <div class="progress">
                        <div class="progress-bar" style="width:75%;  background-color:chartreuse">75%</div>
                    </div>

                    <p>Happy Employee</p>
                    <div class="progress">
                        <div class="progress-bar" style="width:90%;  background-color:chartreuse">90%</div>
                    </div>

                </div>
            </div>
            <section id="team">

                <div class="container">
                    <h1 style="font-family: sans-serif;font-weight: bold;">Unicorn Chef bakery Founder</h1>
                    <div class="row">
                    </div>
                    <section style="display:flex;flex-direction: row;justify-content: center;">
                        <div class="col-md-3 profile-pic text-center">
                            <div class="img-box">
                                <img src="../static/images/logo/Keisha.jpg"
                                    class="img-responsive">
                                <ul>
                                    <a style="color: chartreuse;" href="https://www.facebook.com/">
                                        <li><i class="fa fa-facebook"></i></li>
                                    </a>
                                    <a style="color: chartreuse;"  href="https://twitter.com/login">
                                        <li><i class="fa fa-twitter"></i></li>
                                    </a>
                                    <a style="color: chartreuse;"  href="https://www.linkedin.com/home">
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </a>
                                </ul>
                            </div>
                            <h2>Keisha Ramdhani </h2>
                            <h3>Founder/ Executive Chef</h3>
                            </div>
                            </section>

            <section id="team">
                <section id="team">

                    <section id="footer" style="margin-top: 40px; background-color: rgb(252, 250, 250); padding-top: 30px;background-color: whitesmoke;">
                        <footer class="container">
                            <div class="footer-middle">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-s6 col-lg-3">
                                            <div class="widget widget-about">
                                                <img src="../static/images/logo/Unicorn Chef logo.jpg" class="footer-logo" alt="Footer Logo"
                                                    width="50" height="50">
                                                <p style="background-color: lightgreen;">“Our mission is to bake gourmet goodies that inspire joy, foster community, and enrich the life of every customer with warmth and sweetness.”. </p>
                
                                                <div class="widget-call">
                                                    <i class="icon-phone"></i>
                                                    Got Question? Call us during Office hrs Monday-Saturday
                                                    <a href="tel:#" style="color: darkgreen;">+275006854</a>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="widget">
                                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
                
                <ul class="widget-list">
                <li><a href="/about/" style="color:darkgreen;">About Company</a></li>
                <li><a href="/products/" style="color: darkgreen;">Our Services</a></li>
                <li><a href="#how to shop" style="color: darkgreen;">How to shop</a></li>
                <li><a href="/faq/" style="color: darkgreen;">FAQ</a></li>
                <li><a href="/contact/" style="color:darkgreen;">Contact us</a></li>
                                                </ul>
                                            </div>
                                        </div>
                
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="widget">
                                                <h4>Customer Service</h4>
                
                <ul class="widget-list">
                <li><a href="/cart/" style="color:darkgreen;">Payment Methods</a></li>
                <li><a href="/termsandconditions/" style="color: darkgreen;">Terms and conditions</a></li>
                <li><a href="/privacypolicy/" style="color: darkgreen;">Privacy Policy</a></li>
                </ul>
                                            </div>
                                        </div>
                
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="widget">
                                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
                
                <ul class="widget-list">
                <li><a href="/login/" style="color:darkgreen;">Sign In</a></li>
                <li><a href="/cart/" style="color: darkgreen;">View Cart</a></li>
                <li><a href="/wishlist/" style="color: darkgreen;">My Wishlist</a></li>
                <li><a href="/order/" style="color: darkgreen;">Track My Order</a></li>
                <li><a href="/faq/" style="color: darkgreen;">Help</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div>
                                <div class="container">
                                    <p style="text-align:center;">Copyright © 2024 Unicorn Chef Bakery. All Rights Reserved.</p>
                                    <figure style="float: right;">
                                        <img src="../static/images/products/payments.png" alt="Payment methods" width="272" height="20">
                                    </figure>
                                </div>
                            </div>
                        </footer>
                    </section>
    
</body>
</html>