<!DOCTYPE html>
<html>

<head>
	<title>Privacy Policy</title>
	<meta charset="utf-8" />
	<link href="../static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body{ background:whitesmoke;}
  </style>
    
    

<body>
  
<nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="topnav">
        <a class="active" href="/">  <img src="../static/images/logo/Unicorn Chef logo1.jpg" class="footer-logo"> </a>
           
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a href="/" style="color:chartreuse;font-size: large;font-style: italic;" class="nav-link"<li class="xxxlarge"><i class="fa fa-home"></i>Home</li></a>
            </li>
            <li class="nav-item">
                <a style="color:chartreuse;font-size: large;font-style: italic;" class="nav-link" href="../cart/" class="nav-link" <li class="xxxlarge"><i class="fa fa-shopping-cart"></i>Cart</li></a>

            </li>


            <li class="nav-item">
                <a style="color:chartreuse;font-size: large;font-style: italic;" class="nav-link" href="../about/">About Us</a>
            </li>

             <li class="nav-item">
                <a style="color:chartreuse;font-size: large;font-style: italic;" class="nav-link" href="../contact/">Contact</a>
            </li>
            <li class="nav-item">
                <a style="color:chartreuse;font-size: large;font-style: italic;" class="nav-link" href="../login/">Login</a>
            </li>


        </ul>
    </div>
</nav>

<br>
    
        <h1 style="font-family: sans-serif;font-weight: bold;">Privacy policy</h1>
      
<div style="font-family: sans-serif;" class="shopify-policy__body">
    <div class="rte">
        <p>This Privacy Policy describes how unicornchefbakery.co.za (the “Site” or “we”) collects, uses, and discloses your Personal Information when you visit or make a purchase from the Site.</p>

       <h1 style="font-family: sans-serif;font-weight: bold;">Collecting Personal Information</h1>

<p>When you visit the Site, we collect certain information about your device, your interaction with the Site, and information necessary to process your purchases. We may also collect additional information if you contact us for customer support. In this Privacy Policy, we refer to any information that can uniquely identify an individual (including the information below) as “Personal Information”. See the list below for more information about what Personal Information we collect and why. onlineshoppingstore&nbsp;shall take all reasonable steps to protect the personal information of users. For the purpose of this clause, "personal information" shall be defined as detailed in the Promotion of Access to Information Act 2 of 2000 (PAIA). The PAIA may be downloaded from: http://www.lawsofsouthafrica.up.ac.za/index.php/current-legislation.</p>
<p ><u>Device information</u></p>
<ul>
<li>
<strong>Examples of Personal Information collected:</strong> version of web browser, IP address, time zone, cookie information, what sites or products you view, search terms, and how you interact with the Site.</li>
<li>
<strong>Purpose of collection:</strong> to load the Site accurately for you, and to perform analytics on Site usage to optimize our Site.</li>
<li>
<strong>Source of collection:</strong> Collected automatically when you access our Site using cookies, log files, web beacons, tags, or pixels.</li>
</ul>
<p><u >Order information</u></p>
<ul>
<li>
<strong>Examples of Personal Information collected:</strong> name, billing address, shipping address, payment information (including credit card numbers), email address, and phone number.</li>
<li>
<strong>Purpose of collection:</strong> to provide products or services to you to fulfill our contract, to process your payment information, arrange for shipping, and provide you with invoices and/or order confirmations, communicate with you, screen our orders for potential risk or fraud, and when in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.</li>
<li>
<strong>Source of collection:</strong> collected from you.</li>
</ul>
<p><u>Customer support information</u></p>
<ul>
<li>
<strong>Purpose of collection:</strong> to provide customer support.</li>
<li>
<strong>Source of collection:</strong> collected from you.</li>
</ul>
<h2 style="font-weight: bold;font-family: sans-serif;">Minors</h2>
<p>The Site is not intended for individuals under the age of <i>16yrs</i>. We do not intentionally collect Personal Information from children. If you are the parent or guardian and believe your child has provided us with Personal Information, please contact us at the address below to request deletion.</p>
<h1 style="font-weight: bold;font-family: sans-serif;">Sharing Personal Information</h1>
<p>We share your Personal Information with service providers to help us provide our services and fulfill our contracts with you, as described above. For example,</p>
<ul>
<li>We may share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</li>
</ul>
<h2 style="font-weight: bold;font-family: sans-serif;">Behavioural Advertising</h2>
<p>As described above, we use your Personal Information to provide you with targeted advertisements or marketing communications we believe may be of interest to you. For example:</p>
<ul>
<li>We use Google Analytics to help us understand how our customers use the Site. You can read more about how Google uses your Personal Information here: <a href="https://policies.google.com/privacy?hl=en" target="_blank">https://policies.google.com/privacy?hl=en</a>.You can also opt-out of Google Analytics here: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>.</li>
<li>We share information about your use of the Site, your purchases, and your interaction with our ads on other websites with our advertising partners. We collect and share some of this information directly with our advertising partners, and in some cases through the use of cookies or other similar technologies (which you may consent to, depending on your location).</li>
</ul>
<p>For more information about how targeted advertising works, you can visit the Network Advertising Initiative’s (“NAI”) educational page at <a href="http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work" target="_blank">http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work</a>.</p>
<p>You can opt out of targeted advertising by:</p>
<ul>
<li>
<i>FACEBOOK - </i> <a href="https://www.facebook.com/settings/?tab=ads" target="_blank">https://www.facebook.com/settings/?tab=ads</a>
</li>
<li>
<i>GOOGLE - </i> <a href="https://www.google.com/settings/ads/anonymous" target="_blank">https://www.google.com/settings/ads/anonymous</a>
</li>
<li>
<i>BING - </i> <a href="https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads" target="_blank">https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads</a><i>]</i>
</li>
</ul>
<p>Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance’s opt-out portal at: <a href="http://optout.aboutads.info/" target="_blank">http://optout.aboutads.info/</a>.</p>
<h1 style="font-weight: bold;font-family: sans-serif;">Using Personal Information</h1>
<p>We use your personal Information to provide our services to you, which includes: offering products for sale, processing payments, shipping and fulfillment of your order, and keeping you up to date on new products, services, and offers.</p>
<p><i>[INCLUDE THE FOLLOWING SECTION IF YOUR STORE IS LOCATED IN OR IF YOU HAVE CUSTOMERS IN EUROPE]</i></p>
<h2 style="font-weight: bold;font-family: sans-serif;">Lawful basis</h2>
<p>Pursuant to the General Data Protection Regulation (“GDPR”), if you are a resident of the European Economic Area (“EEA”), we process your personal information under the following lawful bases:</p>
<ul>
<li>Your consent;</li>
<li>The performance of the contract between you and the Site;</li>
<li>Compliance with our legal obligations;</li>
<li>To protect your vital interests;</li>
<li>To perform a task carried out in the public interest;</li>
<li>For our legitimate interests, which do not override your fundamental rights and freedoms.</li>
</ul>
<h2 style="font-weight: bold;font-family: sans-serif;">Retention</h2>
<p>When you place an order through the Site, we will retain your Personal Information for our records unless and until you ask us to erase this information. For more information on your right of erasure, please see the ‘Your rights’ section below.</p>
<h2 style="font-weight: bold;font-family: sans-serif;">Automatic decision-making</h2>
<p>If you are a resident of the EEA, you have the right to object to processing based solely on automated decision-making (which includes profiling), when that decision-making has a legal effect on you or otherwise significantly affects you.</p>
<p>We <i>[DO/DO NOT]</i> engage in fully automated decision-making that has a legal or otherwise significant effect using customer data.</p>
<p>Our processor Shopify uses limited automated decision-making to prevent fraud that does not have a legal or otherwise significant effect on you.</p>
<p>Services that include elements of automated decision-making include:</p>
<ul>
<li>Temporary denylist of IP addresses associated with repeated failed transactions. This denylist persists for a small number of hours.</li>
<li>Temporary denylist of credit cards associated with denylisted IP addresses. This denylist persists for a small number of days.</li>
</ul>
<h1 style="font-weight: bold;font-family: sans-serif;">Selling Personal Information</h1>
<p>Our Site sells Personal Information, as defined by the California Consumer Privacy Act of 2018 (“CCPA”).</p>
<p><i>[INSERT:</i></p>
<ul>
<li><i>CATEGORIES OF INFORMATION SOLD;</i></li>
<li><i>INSTRUCTIONS ON HOW TO OPT-OUT OF SALE;</i></li>
<li><i>WHETHER YOUR BUSINESS SELLS INFORMATION OF MINORS (UNDER 16) AND WHETHER YOU OBTAIN AFFIRMATIVE AUTHORIZATION;</i></li>
<li><i>IF YOU PROVIDE A FINANCIAL INCENTIVE TO NOT SELL INFORMATION, PROVIDE INFORMATION ABOUT WHAT THAT INCENTIVE IS.</i></li>
</ul>
<h1 style="font-weight: bold;font-family: sans-serif;">Cookies</h1>
<p>A cookie is a small amount of information that’s downloaded to your computer or device when you visit our Site. We use a number of different cookies, including functional, performance, advertising, and social media or content cookies. Cookies make your browsing experience better by allowing the website to remember your actions and preferences (such as login and region selection). This means you don’t have to re-enter this information each time you return to the site or browse from one page to another. Cookies also provide information on how people use the website, for instance whether it’s their first time visiting or if they are a frequent visitor.</p>
<p>We use the following cookies to optimize your experience on our Site and to provide our services.</p>
<h2 style="font-weight: bold;font-family: sans-serif;">Cookies Necessary for the Functioning of the Store</h2>
<table>
<thead>
<tr>
<th><strong>Name</strong></th>
<th><strong>Function</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td><i>_ab</i></td>
<td>Used in connection with access to admin.</td>
</tr>
<tr>
<td><i>_secure_session_id</i></td>
<td>Used in connection with navigation through a storefront.</td>
</tr>
<tr>
<td><i>cart</i></td>
<td>Used in connection with shopping cart.</td>
</tr>
<tr>
<td><i>cart_sig</i></td>
<td>Used in connection with checkout.</td>
</tr>
<tr>
<td><i>cart_ts</i></td>
<td>Used in connection with checkout.</td>
</tr>
<tr>
<td><i>checkout_token</i></td>
<td>Used in connection with checkout.</td>
</tr>
<tr>
<td><i>secret</i></td>
<td>Used in connection with checkout.</td>
</tr>
<tr>
<td><i>secure_customer_sig</i></td>
<td>Used in connection with customer login.</td>
</tr>
<tr>
<td><i>storefront_digest</i></td>
<td>Used in connection with customer login.</td>
</tr>
<tr>
<td><i>_shopify_u</i></td>
<td>Used to facilitate updating customer account information.</td>
</tr>
</tbody>
</table>
<h2 style="font-weight: bold;font-family: sans-serif;">Reporting and Analytics</h2>
<table>
<tbody>
<tr>
<th><strong>Name</strong></th>
<th><strong>Function</strong></th>
</tr>
<tr>
<td><i>_tracking_consent</i></td>
<td>Tracking preferences.</td>
</tr>
<tr>
<td><i>_landing_page</i></td>
<td>Track landing pages</td>
</tr>
<tr>
<td><i>_orig_referrer</i></td>
<td>Track landing pages</td>
</tr>
<tr>
<td><i>_s</i></td>
<td>Shopify analytics.</td>
</tr>
<tr>
<td><i>_shopify_s</i></td>
<td>Shopify analytics.</td>
</tr>
<tr>
<td><i>_shopify_sa_p</i></td>
<td>Shopify analytics relating to marketing &amp; referrals.</td>
</tr>
<tr>
<td><i>_shopify_sa_t</i></td>
<td>Shopify analytics relating to marketing &amp; referrals.</td>
</tr>
<tr>
<td><i>_shopify_y</i></td>
<td>Shopify analytics.</td>
</tr>
<tr>
<td><i>_y</i></td>
<td>Shopify analytics.</td>
</tr>
</tbody>
</table>
<p><i>[INSERT OTHER COOKIES OR TRACKING TECHNOLOGIES THAT YOU USE]</i></p>
<p>The length of time that a cookie remains on your computer or mobile device depends on whether it is a “persistent” or “session” cookie. Session cookies last until you stop browsing and persistent cookies last until they expire or are deleted. Most of the cookies we use are persistent and will expire between 30 minutes and two years from the date they are downloaded to your device.</p>
<p>You can control and manage cookies in various ways. Please keep in mind that removing or blocking cookies can negatively impact your user experience and parts of our website may no longer be fully accessible.</p>
<p>Most browsers automatically accept cookies, but you can choose whether or not to accept cookies through your browser controls, often found in your browser’s “Tools” or “Preferences” menu. For more information on how to modify your browser settings or how to block, manage or filter cookies can be found in your browser’s help file or through such sites as <a href="www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>.</p>
<p>Additionally, please note that blocking cookies may not completely prevent how we share information with third parties such as our advertising partners. To exercise your rights or opt-out of certain uses of your information by these parties, please follow the instructions in the “Behavioural Advertising” section above.</p>
<h2 style="font-weight: bold;font-family: sans-serif;">Do Not Track</h2>
<p>Please note that because there is no consistent industry understanding of how to respond to “Do Not Track” signals, we do not alter our data collection and usage practices when we detect such a signal from your browser.</p>
<h1 style="font-weight: bold;font-family: sans-serif;">Changes</h1>
<p>We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.</p>
<h1 style="font-weight: bold;font-family: sans-serif;">Contact</h1>
<p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at onlineshoppingstore.com </p>

<i><i>Last updated: 15/02/2024</i></i>
<p><br></p>
    </div>
  </div>
  <section id="team">

    <section id="footer" style="margin-top: 40px; background-color: rgb(252, 250, 250); padding-top: 30px;background-color: whitesmoke;">
        <footer class="container">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-s6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="../static/images/logo/Unicorn Chef logo.jpg" class="footer-logo" alt="Footer Logo"
                                    width="50" height="50">
                                <p style="background-color: lightgreen;">“Our mission is to bake gourmet goodies that inspire joy, foster community, and enrich the life of every customer with warmth and sweetness.”. </p>

                                <div class="widget-call">
                                    <i class="icon-phone"></i>
                                    Got Question? Call us during Office hrs Monday-Saturday
                                    <a href="tel:#" style="color: darkgreen;">+275006854</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

<ul class="widget-list">
<li><a href="/about/" style="color:darkgreen;">About Company</a></li>
<li><a href="/products/" style="color: darkgreen;">Our Services</a></li>
<li><a href="#how to shop" style="color: darkgreen;">How to shop</a></li>
<li><a href="/faq/" style="color: darkgreen;">FAQ</a></li>
<li><a href="/contact/" style="color:darkgreen;">Contact us</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4>Customer Service</h4>

<ul class="widget-list">
<li><a href="/cart/" style="color:darkgreen;">Payment Methods</a></li>
<li><a href="/termsandconditions/" style="color: darkgreen;">Terms and conditions</a></li>
<li><a href="/privacypolicy/" style="color: darkgreen;">Privacy Policy</a></li>
</ul>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

<ul class="widget-list">
<li><a href="/login/" style="color:darkgreen;">Sign In</a></li>
<li><a href="/cart/" style="color: darkgreen;">View Cart</a></li>
<li><a href="/wishlist/" style="color: darkgreen;">My Wishlist</a></li>
<li><a href="/order/" style="color: darkgreen;">Track My Order</a></li>
<li><a href="/faq/" style="color: darkgreen;">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="container">
                    <p style="text-align:center;">Copyright © 2024 Unicorn Chef Bakery. All Rights Reserved.</p>
                    <figure style="float: right;">
                        <img src="../static/images/products/payments.png" alt="Payment methods" width="272" height="20">
                    </figure>
                </div>
            </div>
        </footer>
    </section>
</body>
</html>